DeltaClient/Connected Services/Service/ServiceManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kilometers" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" minOccurs="0" name="ServicedCar" nillable="true" type="q1:Car" />
      <xs:element minOccurs="0" name="TotalSpent" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>