DeltaClient/Connected Services/Service/ServiceManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Delta.DeltaManager.ServiceNS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Delta.DeltaManager.ServiceNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Delta.DeltaManager.ServiceNS/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd0" namespace="Delta.DeltaManager.ServiceNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceManager_addCarService_InputMessage">
    <wsdl:part name="parameters" element="tns:addCarService" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_addCarService_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCarServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_addCarService_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetCarServicesForCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarServicesForCar" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetCarServicesForCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarServicesForCarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetCarServicesForCar_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DeleteService_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DeleteService_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DeleteService_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q3:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetServiceByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByID" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetServiceByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_GetServiceByID_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q4:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_UpdateService_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateService" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_UpdateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_UpdateService_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q5:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IServiceManager">
    <wsdl:operation name="addCarService">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/addCarService" message="tns:IServiceManager_addCarService_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/addCarServiceResponse" message="tns:IServiceManager_addCarService_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/addCarServiceManagerFaultFault" name="ManagerFaultFault" message="tns:IServiceManager_addCarService_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarServicesForCar">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetCarServicesForCar" message="tns:IServiceManager_GetCarServicesForCar_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetCarServicesForCarResponse" message="tns:IServiceManager_GetCarServicesForCar_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetCarServicesForCarManagerFaultFault" name="ManagerFaultFault" message="tns:IServiceManager_GetCarServicesForCar_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/DeleteService" message="tns:IServiceManager_DeleteService_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/DeleteServiceResponse" message="tns:IServiceManager_DeleteService_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/DeleteServiceManagerFaultFault" name="ManagerFaultFault" message="tns:IServiceManager_DeleteService_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceByID">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetServiceByID" message="tns:IServiceManager_GetServiceByID_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetServiceByIDResponse" message="tns:IServiceManager_GetServiceByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/GetServiceByIDManagerFaultFault" name="ManagerFaultFault" message="tns:IServiceManager_GetServiceByID_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/UpdateService" message="tns:IServiceManager_UpdateService_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/UpdateServiceResponse" message="tns:IServiceManager_UpdateService_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ServiceNS/IServiceManager/UpdateServiceManagerFaultFault" name="ManagerFaultFault" message="tns:IServiceManager_UpdateService_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>