DeltaClient/Connected Services/Service/ServiceManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Delta.DeltaManager.ServiceNS" elementFormDefault="qualified" targetNamespace="Delta.DeltaManager.ServiceNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ServiceNS/ServiceManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" />
  <xs:element name="addCarService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Kilometers" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" minOccurs="0" name="ServicedCar" nillable="true" type="q1:Car" />
        <xs:element minOccurs="0" name="TotalSpent" type="xs:float" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCarServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCarServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarServicesForCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Plate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarServicesForCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" minOccurs="0" name="GetCarServicesForCarResult" nillable="true" type="q2:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" minOccurs="0" name="GetServiceByIDResult" nillable="true" type="q3:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ServiceNS" minOccurs="0" name="service" nillable="true" type="q4:Service" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>