DeltaClient/Connected Services/Booking/BookingManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Delta.DeltaManager.BookingNS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Delta.DeltaManager.BookingNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Delta.DeltaManager.BookingNS/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd0" namespace="Delta.DeltaManager.BookingNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.BookingNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.UserNS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingManager_BookCar_InputMessage">
    <wsdl:part name="parameters" element="tns:BookCar" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_BookCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookCarResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_BookCar_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_DeleteBooking_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_EndBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:EndBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_EndBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingManager_EndBooking_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q3:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IBookingManager">
    <wsdl:operation name="BookCar">
      <wsdl:input wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/BookCar" message="tns:IBookingManager_BookCar_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/BookCarResponse" message="tns:IBookingManager_BookCar_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/BookCarManagerFaultFault" name="ManagerFaultFault" message="tns:IBookingManager_BookCar_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/DeleteBooking" message="tns:IBookingManager_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/DeleteBookingResponse" message="tns:IBookingManager_DeleteBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/DeleteBookingManagerFaultFault" name="ManagerFaultFault" message="tns:IBookingManager_DeleteBooking_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndBooking">
      <wsdl:input wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/EndBooking" message="tns:IBookingManager_EndBooking_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/EndBookingResponse" message="tns:IBookingManager_EndBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.BookingNS/IBookingManager/EndBookingManagerFaultFault" name="ManagerFaultFault" message="tns:IBookingManager_EndBooking_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>