DeltaClient/Connected Services/Booking/BookingManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.BookingNS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.BookingNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.BookingNS/BookingManager?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.UserNS" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" minOccurs="0" name="BookedCar" nillable="true" type="q1:Car" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.UserNS" minOccurs="0" name="Booker" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Returned" type="xs:boolean" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
</xs:schema>