DeltaClient/Connected Services/Report/ReportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Delta.DeltaManager.ReportNS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Delta.DeltaManager.ReportNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Delta.DeltaManager.ReportNS/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd0" namespace="Delta.DeltaManager.ReportNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.BookingNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.UserNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ReportNS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManager_AddReport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReport" />
  </wsdl:message>
  <wsdl:message name="IReportManager_AddReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_AddReport_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForCar_InputMessage">
    <wsdl:part name="parameters" element="tns:getReportsForCar" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReportsForCarResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForCar_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getReportByID" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReportByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportByID_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q3:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_DeleteReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReport" />
  </wsdl:message>
  <wsdl:message name="IReportManager_DeleteReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_DeleteReport_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q4:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:getReportsForBooking" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReportsForBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_getReportsForBooking_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q5:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_UpdateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReport" />
  </wsdl:message>
  <wsdl:message name="IReportManager_UpdateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_UpdateReport_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q6:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IReportManager">
    <wsdl:operation name="AddReport">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReport" message="tns:IReportManager_AddReport_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReportResponse" message="tns:IReportManager_AddReport_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReportManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_AddReport_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReportsForCar">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForCar" message="tns:IReportManager_getReportsForCar_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForCarResponse" message="tns:IReportManager_getReportsForCar_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForCarManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_getReportsForCar_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReportByID">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportByID" message="tns:IReportManager_getReportByID_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportByIDResponse" message="tns:IReportManager_getReportByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportByIDManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_getReportByID_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReport">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/DeleteReport" message="tns:IReportManager_DeleteReport_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/DeleteReportResponse" message="tns:IReportManager_DeleteReport_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/DeleteReportManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_DeleteReport_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReportsForBooking">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForBooking" message="tns:IReportManager_getReportsForBooking_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForBookingResponse" message="tns:IReportManager_getReportsForBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/getReportsForBookingManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_getReportsForBooking_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/UpdateReport" message="tns:IReportManager_UpdateReport_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/UpdateReportResponse" message="tns:IReportManager_UpdateReport_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/UpdateReportManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_UpdateReport_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>