DeltaClient/Connected Services/Report/ReportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Delta.DeltaManager.ReportNS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Delta.DeltaManager.ReportNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Delta.DeltaManager.ReportNS/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd0" namespace="Delta.DeltaManager.ReportNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ReportNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.BookingNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.UserNS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManager_AddReport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReport" />
  </wsdl:message>
  <wsdl:message name="IReportManager_AddReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_AddReport_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IReportManager_retrieveReportsForCar_InputMessage">
    <wsdl:part name="parameters" element="tns:retrieveReportsForCar" />
  </wsdl:message>
  <wsdl:message name="IReportManager_retrieveReportsForCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:retrieveReportsForCarResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_retrieveReportsForCar_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaManager.Utils" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IReportManager">
    <wsdl:operation name="AddReport">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReport" message="tns:IReportManager_AddReport_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReportResponse" message="tns:IReportManager_AddReport_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/AddReportManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_AddReport_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReportsForCar">
      <wsdl:input wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/retrieveReportsForCar" message="tns:IReportManager_retrieveReportsForCar_InputMessage" />
      <wsdl:output wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/retrieveReportsForCarResponse" message="tns:IReportManager_retrieveReportsForCar_OutputMessage" />
      <wsdl:fault wsaw:Action="Delta.DeltaManager.ReportNS/IReportManager/retrieveReportsForCarManagerFaultFault" name="ManagerFaultFault" message="tns:IReportManager_retrieveReportsForCar_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>