DeltaClient/Connected Services/Report/ReportManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Delta.DeltaManager.ReportNS" elementFormDefault="qualified" targetNamespace="Delta.DeltaManager.ReportNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ReportNS" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Delta.DeltaManager.ReportNS/ReportManager?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.ReportNS" minOccurs="0" name="report" nillable="true" type="q1:Report" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveReportsForCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Delta.DeltaDBManager.CarNS" minOccurs="0" name="car" nillable="true" type="q2:Car" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MD5PassHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveReportsForCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="retrieveReportsForCarResult" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>